<h3>Creer un nouveau Employé Finaxys</h3>  
<div class="row">  
  <div class="col-sm-4"></div>  
  <div class="col-sm-4" >  
    <div [hidden]="submitted" style="width: 400px;">  
      <form [formGroup]="clientsaveform"  (ngSubmit)="saveCli(clientsaveform.value)">  
          <div class="form-group">  
              <label for="name">Nom du Salarie :</label>  
              <input type="text" class="form-control"  formControlName="fullName">               
          </div>      
          <div class="form-group">  
              <label for="name">Date de Naissance : </label>  
              <input type="date" class="form-control" formControlName="dateOfBirth">                  
          </div>                   
          <button type="submit" class="btn btn-success">Soumettre</button>  
      </form>  
  </div>  
  </div>  
  <div class="col-sm-4"></div>  
</div>  
<div class="row">  
  <div class="col-sm-4"></div>  
  <div class="col-sm-4">  
      <div [hidden]="!submitted">  
         <h4>Salarié ajouté avec succés !</h4>  
         <button (click)="addClientForm()" class='btn btn-primary'>Add More Student</button>  
      </div>        
  </div>  
  <div class="col-sm-4"></div>  
</div>  




<!--<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">

  <div>
    <label for="name">
      Name
    </label>
    <input id="name" type="text" formControlName="name">
  </div>

  <div>
    <label for="address">
      Address
    </label>
    <input id="address" type="text" formControlName="address">
  </div>

  <button class="button" type="submit">Purchase</button>

</form>-->